.arkaplan {
    background-color: rgb(226, 226, 226) ;
}

.ortala {
    position: relative;
    margin: auto !important;
    margin-top: 130px !important;
    border: 1px solid white;
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(154, 161, 161, 0.12);
    color: rgba(28, 29, 29, 0.56);
}
a {
    color: black;
}

.sagaGetir {
    float: right;
}

.arkaboyali{
    background-color:#908787;

}
html, body {
    
    height: 100%;
}

#tamcerceve {
    min-height: 100%;
    position: relative;
}

#ortaAlan {
    padding: 10px;
    padding-bottom: 120px; /* footer yüksekliği */
}

#altfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px; /* footer yüksekliği */
    background: #6cf;
    text-align: center;
}