.arkaplan {
    background-color: rgb(226, 226, 226) ;
}

.ortala {
    position: relative;
    margin: auto !important;
    margin-top: 130px !important;
    border: 1px solid white;
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(154, 161, 161, 0.12);
    color: rgba(28, 29, 29, 0.56);
}
a {
    color: black;
}
.menu {
    list-style: none outside none;
    
}
.bilgi {
    padding: 0 10px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: rgb(0, 0, 0);
    margin-bottom: 3px;
}


    .menu li {
        position: relative;
        display: inline;
        margin: 5px;
    }
.baslik {
    margin-bottom:5px;
    padding:0 10px;
    overflow: hidden; /* taşanları gizle */
    white-space: nowrap; /* alt satıra hiç inme */
    text-overflow: ellipsis; /* eğer uzunsa üç nokta koy */
}
.info{

    padding: 0 10px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: gray;
    margin-bottom: 3px;

}
.over1:hover{
    
    color:white;
}

.space{
    width:2px;
}
.maintitle {
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: 5px;
    border-radius:8px;
    padding: 15px;
}
.vertical-align {
    display: flex;
    align-items: center;
}

.sagaGetir {
    float: right;
}

.arkaboyali{
    background-color:#908787;

}
html, body {
    
    height: 100%;
}

#tamcerceve {
    min-height: 100%;
    position: relative;
}

#ortaAlan {
    padding: 10px;
    padding-bottom: 120px; /* footer yüksekliği */
}

#altfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px; /* footer yüksekliği */
    background: #6cf;
    text-align: center;
}