
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Books Panel","BooksControl","Admin")
@Html.ActionLink("Authors Panel","AuthorsControl","Admin")
@Html.ActionLink("Comments Panel","CommentsControl","Admin")
@Html.ActionLink("User Panel","UserControl","Admin")