
@using dBook.Models
@model IEnumerable<dBook.Models.Books>
@{
    ViewBag.Title = "BookList";
}


@if (Model != null)
{
    <div class="container">
        <div class=row>
            <div class="col-md-12 ">

                <div class="maintitle navbar navbar-expand-lg ">
                    <a class="navbar-brand" href="#">Kitaplar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#kitaplar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="kitaplar">
                        <ul class="menu navbar-nav mr-auto ">
                            <li class="over1 nav-item"><a class="btn btn-outline-dark nav-link">Yeni Çıkanlar</a></li>
                            <li class="over1 nav-item"><a class="btn btn-outline-dark nav-link">En Son Okunanlar</a></li>
                            <li class="over1 nav-item"><a class="btn btn-outline-dark nav-link">En Çok Beğenilenler</a></li>
                            <li class="over1 nav-item"><a class="btn btn-outline-dark nav-link">En Çok Okunanlar</a></li>
                            <li class="over1 nav-item"><a class="btn btn-outline-dark nav-link">Alfabetik</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-3 d-flex align-items-stretch">
                    <div class="card mt-1" style="width: 26rem;">
                        <img src="~/img/BookPhoto/@item.BOOK_PHOTO" class="card-img-top img-fluid m-auto" style="width:200px;height:300px;" alt="@item.BOOK_NAME Fotoğrafı">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center"><a href="~/Book/TheBook/@item.BOOK_ID">@item.BOOK_NAME</a></h5>
                            <p class="card-text">@item.BOOK_DESCRIPTION</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item font-weight-bold">@(item.AUTHOR.AUTHOR_NAME + " " + item.AUTHOR.AUTHOR_LASTNAME)</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>

}
else
{
    <h1>Kitap yok</h1>
}