@using dBook.Models;
@model dBook.Models.Books
@{
    ViewBag.Title = "TheBook";
}

@if (Model != null)
{
    <div class="container">
        <div class="row">
            <div class=" col-12">

                <div class="col-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="Veri Yapıları">
                    <div class="baslik">
                        <p>Veri Yapıları</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı : 9/10</a>
                    </div>
                </div>


                <div class="col-6">
                    <p>Yorummlar</p>

                </div>
                <div class="col-4">
                    <p>Kitapla ilgili bilgiler</p>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <p>
            @Model.BOOK_NAME
        </p>
    </div>


}
else
{
    
    <p>
        Bir sorun var kitap bulunamadı.
    </p>
}
