@using dBook.Models;
@model dBook.Models.Books
@{
    ViewBag.Title = "TheBook";
}

@if (Model != null)
{
    <div class="row">
        <p>
            @Model.BOOK_NAME
        </p>
    </div>

}
else
{
    <p>
        Bir sorun var kitap bulunamadı.
    </p>
}
