@using dBook.Models
@model dBook.Models.Authors
@{
    ViewBag.Title = "TheAuthor";
}


@if (Model != null)
{
    <div class="row">
        @Model.AUTHOR_NAME
    </div>
}
else
{
    <p>
        Bir sorun var yazar bulunamadı.
    </p>
}
<h2>Kitapları</h2>
@if(ViewBag.books != null)
{
    <p>
        @foreach(var book in ViewBag.books)
        {
            <h3>@book.BOOK_NAME</h3>
        }
    </p>
}