@using dBook.ViewModels
@model dBook.ViewModels.AuthorViewModel
@{
    ViewBag.Title = "TheAuthor";
}

    <div class="container">
        <div class="row">
            
            <div class=" col-12 ">


                <div class="col-2 card ortala " style="width: 100%; float: left; ">
                    <img src="kitap.jpg" class="card-img-top" alt="Sabahattin Ali">
                    <div class="baslik">
                        <p>Sabahattin Ali</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı : 9/10</a>
                    </div>
                    <div class="bilgi">

                    </div>
                </div>

                <div class="col-10 " ; style="width: 100%; float: left;">

                    <div class="col-6 ortala" ; style="width: 100%; float: left;">
                        <p> Yorummlar Yorummlar Yorummlar Yorummlar Yorummlar Yorummlar  </p>
                        <p> Yorummlar Yorummlar Yorummlar Yorummlar Yorummlar Yorummlar  </p>
                        <p> Yorummlar Yorummlar Yorummlar Yorummlar Yorummlar Yorummlar  </p>
                        <p> Yorummlar Yorummlar Yorummlar Yorummlar Yorummlar Yorummlar  </p>
                        <p> Yorummlar Yorummlar Yorummlar Yorummlar Yorummlar Yorummlar  </p>

                    </div>
                    <div class="col-4 ortala" style="width: 100%; float: left;">
                        <p>Yazarla ilgili bilgiler</p>
                        <p>Yazarla ilgili bilgiler</p>
                        <p>Yazarla ilgili bilgiler</p>
                        <p>Yazarla ilgili bilgiler</p>
                        <p>Yazarla ilgili bilgiler</p>

                    </div>
                </div>

            </div>
        </div>

    </div>

<div class="row">
    <div class="col-12">
        <h1>Yazar adı : @Model.Author.AUTHOR_NAME</h1>
        @foreach(var book in Model.Books)
        {
            <h3>Kitabı : @book.BOOK_NAME</h3>
        }
    </div>
</div>