@using dBook.ViewModels
@model dBook.ViewModels.AuthorViewModel
@{
    ViewBag.Title = "TheAuthor";
}


<div class="row">
    <div class="col-12">
        <h1>Yazar adı : @Model.Author.AUTHOR_NAME</h1>
        @foreach(var book in Model.Books)
        {
            <h3>Kitabı : @book.BOOK_NAME</h3>
        }
    </div>
</div>