
@{
    ViewBag.Title = "Index";
}

    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 ortala">

                        <form>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Kullanıcı Adı</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputPassword" placeholder="Kullanıcı Adı">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Şifre</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Şifre">
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox sagaGetir">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Beni Hatırla</label>
                            </div>
                            <br />
                            <div>
                                <button type="submit" class="btn btn-dark">Giriş Yap</button>
                                <button type="submit" class="btn btn-dark">Üye Ol</button>
                            </div>
                            <br />
                            <div>
                                <a href="" type="" class="col-sm-6" style="color:black">Şifremi Unuttum</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
