<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div class="fixed-top" >
        <nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
            
                 <a class="navbar-brand" href="#">dBook</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
            
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" style="color:#faf6f6" href="#">Anasayfa <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" style="color:#faf6f6" href="#">Kitaplar</a>
                        <a class="nav-item nav-link" style="color:#faf6f6" href="#">Yazarlar</a>
                        <a class="nav-item nav-link" style="color:#faf6f6" href="#">Kategoriler</a>
                    </div>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            
           
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-item" href="#üyeol" style="color:#faf6f6">Üye Ol</a>
                    </li>
                    &nbsp;&nbsp;
                    <li class="nav-item">
                        <a class="nav-item" href="#girisyap" style="color:#faf6f6">Giriş Yap</a>
                    </li>
                </ul>
            
            
        </nav>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            
            <div class="ortala">
                <p>&copy; @DateTime.Now.Year - dBook Kitap Listeleme Sitesi</p>
            </div>

        </footer>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</body>
</html>