
@{
    ViewBag.Title = "Register";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 ortala">
                        <form method="post">
                            <div class="form-group row">
                                <label for="_username" class="col-sm-4 col-form-label">Kullanıcı Adı</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="_username" name="_username" placeholder="Kullanıcı Adı">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="_password" class="col-sm-4 col-form-label">Şifre</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="_password" name="_password" placeholder="Şifre">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="_name" class="col-sm-4 col-form-label">Adı</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="_name" name="_name" placeholder="İsim">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="_lastname" class="col-sm-4 col-form-label">Soyadı</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="_lastname" name="_lastname" placeholder="Soyisim">
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="_userphoto" name="_userphoto">
                                    <div class="col-sm-8">
                                        <label class="custom-file-label" for="_userphoto">Choose your profile photo</label>
                                    </div>
                                </div>
                            </div>

                            <div class="sagaGetir">
                                <button type="submit" class="btn btn-dark">Kayıt ol</button>
                            </div>

                        </form>
                    </div>
                </div>
                </div>
                
            </div>
    </div>

