@using dBook.ViewModels
@{
    ViewBag.Title = "UserPage";
}

<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-3">
                <div class="text-center">
                    <img src="~/Content/img/seckin.jpg" width="200px" ; height="200px" ; style="border-radius: 100px;"><br /><br />
                    <p class="card-text">Kazım Altan</p>
                    <p class="card-text">25.10.2001</p>
                    <p class="card-text"><small>13 Eylül 2012'de katıldı.</small></p>
                </div>
            </div>

        <div class="col-9">
            <p>
                <a class="btn btn-success" data-toggle="collapse" href="#collapseExample1" role="button" aria-controls="collapseExample1" id="btn1">
                    Okuduğu Kitaplar
                </a>
                <a class="btn btn-success" data-toggle="collapse" href="#collapseExample2" role="button" aria-controls="collapseExample2" id="btn2">
                    Okuyacağı Kitaplar
                </a>
                <a class="btn btn-success" data-toggle="collapse" href="#collapseExample3" role="button" aria-controls="collapseExample3" id="btn3">
                    Favori Yazarları
                </a>

            </p>
            <div class="collapse" id="collapseExample1">
                <div class="card card-body ">
                    <h5> Okuduğu Kitaplar<br /></h5>
                    Okuduğu Kitaplar<br />
                    Okuduğu Kitaplar<br />
                    Okuduğu Kitaplar<br />
                </div>
            </div>
            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    Okuyacağı Kitaplar<br />
                    Okuyacağı Kitaplar<br />
                    Okuyacağı Kitaplar<br />
                </div>
            </div>
            <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                    Favori Yazarları<br />
                    Favori Yazarları<br />
                    Favori Yazarları<br />
                </div>
            </div>
           
            <script src="~/Scripts/dBook.js"></script>



        </div>
        </div>

    </div>


</div>

